/* =========================== */
/*       EVENTS HEADER         */
/* =========================== */
.hclm-events-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media screen and (max-width: 580px) {
    .hclm-events-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

.hclm-events-header h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

.view-calendar-link {
    margin: 0;
    font-weight: 500 !important;
    background-color: #fbeee6 !important;
    border-radius: 10px !important;
    padding: 6px 18px !important;
    transition: background 0.2s;
    text-decoration: none !important;
    color: #e76f51;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.view-calendar-link:hover {
    background-color: #ffe5db !important;
}


/* =========================== */
/*          EVENT CARD         */
/* =========================== */
.event-card {
    background: #f6f6f6;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0;
    height: 100%;
}

.hclm-event-thumb-container {
    position: relative;
    overflow: hidden;
}

.hclm-event-thumb-container .hclm-event-thumb {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease-out;
}

.hclm-event-thumb-container .hclm-event-thumb:hover,
.hclm-event-thumb-container .hclm-event-thumb:focus,
.hclm-event-thumb-container .hclm-event-thumb:active {
    transform: scale(1.05);
}

.event-content {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.event-card h3 {
    margin-top: 0;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-bottom: 15px !important;
}

.event-card p{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-card i{
    margin-right: 8px;
    color: #e76f51;
}

.event-link{
    padding: 5px 18px !important;
    border: 2px solid #e76f51 !important;
    text-decoration: none !important;
    border-radius: 10px !important;
    width: fit-content;
}


/* =========================== */
/*           SWIPER            */
/* =========================== */
.swiper {
    padding-bottom: 5px !important;
}

.swiper-slide {
  height: auto !important;
}

.swiper-pagination {
    display: none;
}

.swiper-pagination-bullet {
    width: 35px !important;
    height: 5px !important;
    border-radius: 10px !important;
    background: #e0e0e0 !important;
}

.swiper-pagination-bullet-active {
    background: #e76f51 !important;
}

/* Display pagination on mobile */
@media screen and (max-width: 600px) {
    .swiper-pagination {
        position: unset !important;
        display: flex !important;
        justify-content: start !important;
        margin-top: 20px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    background: #fbeee6;
    border-radius: 50%;
    width: 44px !important;
    height: 44px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    position: unset !important;
    margin-top: unset !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #ffe5db;
}

.swiper-button-next svg, 
.swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
}

.swiper-buttons-row {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 18px;
    margin-top: 20px !important;
}

/* Hide navigation arrows on mobile */
@media screen and (max-width: 600px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}