.hclm_form p:not(.checkbox) {
    margin-bottom: 30px;
}

.hclm_form label {
    font-size: 16px;
}

.hclm_form input:not(.hclm_checkbox) {
    margin-top: 4px;
    width: 100%;
    border-radius: 10px;
}

.hclm_form input:focus {
    border: 1px solid #e76f51;
}

.hclm_form input[type="submit"] {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hclm_form p:is(.checkbox){
    margin-top: -10px;
    margin-bottom: 20px;
}

.hclm_error {
    color: red;
}