.hclm-login-button {
    padding: 14px 25px;
    color: #FFF !important;
    background-color: #e76f51;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.hclm-login-button:hover {
    background-color: #D76245;
    color: #FFF !important;
}