.hclm-login-form p {
    margin-bottom: 30px;
}

.hclm-login-form label {
    font-size: 16px;
}

.hclm-login-form input{
    margin-top: 4px;
    width: 100%;
    border-radius: 10px !important;
    transition: none !important;
}

.hclm-login-form input:not([type="submit"]){
    border: 2px solid #e5e4e5;
}

.hclm-login-form input:focus {
    outline: none !important;
    border-color: #e76f51 !important;
}

.hclm-login-form input[type="submit"] {
    transition: background-color 0.3s ease, transform 0.2s ease !important;
    margin-bottom: 20px;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.hclm-login-form-password a {
    text-decoration: none !important;
    font-weight: 500;
}

.hclm-login-form-password input {
    margin-bottom: 10px !important;
}

/* Sign up action under the login form */
.hclm-login-form-signup-action {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.hclm-login-form-signup-action a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}

@media (max-width: 460px) {
    .hclm-login-form-signup-action {
        flex-direction: column;
        gap: 6px;
    }
}

/* Error message */
.hclm-login-form-error {
    background-color: #ffebee;
    color: #B91C1C;
    margin-top: 1px !important;
    padding: 15px 16px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.95rem;
    animation: fadeInSlide 0.4s ease-out;
}

.hclm-login-form-error i {
    color: #B91C1C;
    font-size: 1.2rem;
}