.hclm-member-area {
    display: flex;
    height: 100%;
    font-size: 16px;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    height: 80vh;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.sidebar li .icon {
    font-size: 18px;
    width: 20px;
    text-align: center;
}

.sidebar li .label {
    flex: 1;
}

.sidebar li:hover {
    background-color: #f0f0f0;
}

.sidebar li.active {
    background-color: #f6f6f6;
    color: #e76f51;
    font-weight: bold;
}

.logout-container{
    text-align: center;
    margin-bottom: 5px;
}

.logout-button {
    padding: 13px 25px;
    color: #FFF !important;
    background-color: #e76f51;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.logout-button span{
    font-weight: 500;
    margin-right: 5px;
}

.logout-button:hover {
    background-color: #D76245;
    color: #FFF !important;
}

/* Main content */
.content {
    flex: 1;
    padding: 24px 50px;
}

.tab-content {
    display: none;
}

.tab-content h3 {
    font-weight: 500;
}

.tab-content.active {
    display: block;
}

.tab-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

/* PROFILE */
.profile-section {
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-header{
    height: 100%;
}

.profile-picture-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-color: black;
}

.edit-photo-btn {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: #e76f51;
    border: none;
    border-radius: 100%;
    padding: 4px;
    width: 32px;
    height: 32px;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.tab-card.membership {
    margin-top: 25px;
}

.edit-photo-btn:hover {
    background-color: #d55f45;
}

.profile-form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-size: 16px;
    margin-bottom: 4px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-icon input {
    width: 100%;
    padding-right: 30px;
    border-radius: 10px !important;
}

.form-group.address-group{
    grid-column: 1 / -1;

}

.input-with-icon input:focus {
    border: 1px solid #e76f51;
}

.edit-icon {
    position: absolute;
    right: 8px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.edit-icon:hover {
    color: #e76f51;
}

.btn-save {
    grid-column: 1 / -1;
    margin-top: 1rem;
    padding: 13px 20px;
    background-color: #e76f51;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


/* STATUS */
.hclm-status-buttons-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

._df_button{
    all: unset !important;
    padding: 7px 18px !important;
    color: #FFF !important;
    background-color: #e76f51 !important;
    border: 2px solid #e76f51 !important;
    border-radius: 10px !important;
    color: #fff !important;
    font-size: 16px !important;
    transition: background-color 0.3s ease !important;
    cursor: pointer !important;
    font-weight: 500 !important;
}

._df_button:hover {
    background-color: #D76245 !important;
    border-color: #D76245 !important;
}

.btn-download svg {
    width: 20px;
    height: 20px;
    margin-bottom: 1px;
}

.btn-download-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 7px 18px !important;
}


/* DASHBOARD */
.dashboard-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 25px;
}

.dashboard-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-top: 25px;
}

.tab-card h4 {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 600;
}

.tab-card h4 i{
    margin-right: 4px;
    color: #e76f51;
}

.span-2 {
    grid-column: span 2;
}

.card-last-report {
    text-align: center;
    transition: box-shadow 0.2s ease;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.card-last-report:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.report-thumbnail {
    height: 150px;
    margin: 10px auto;
}

.report-thumbnail img {
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
}

content p{
    margin-bottom: 0;
}

/* REPORTS */

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 30px;
}

.hclm-reports-search-bar-wrapper {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start !important;
    padding: 0px 16px !important;
    width: 100% !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    flex: 1 1 200px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.hclm-reports-search-bar-wrapper svg {
    height: 20px;
    color: black;
    margin-right: 8px !important;
}

.hclm-reports-search-bar {
    padding: 0 2px !important;
    border: none !important;
    outline: none !important;
    color: black !important;
    background: transparent !important;
    flex: 1 !important;
    font-size: 16px !important;
}

.hclm-reports-search-bar-wrapper:focus-within {
    border: 1px solid #e76f51 !important;
    outline: none !important;
}

.filters select {
    padding: 5px 16px !important;
    border: 1px solid #d0d0d0 !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    font-family: inherit !important;
    background-color: #ffffff !important;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    flex: 1 1 200px;
    height: 45px !important;
}

.filters select:focus {
    border-color: #e76f51 !important;
    outline: none !important;
}

.filters select.sort-date {
    flex: 2 1 300px !important;
}

.reports-list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
    .reports-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .reports-list {
        grid-template-columns: 1fr;
    }
}

.report-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: relative;
}

.report-card .report-link {
  position: absolute;
  left:0; top:0; bottom:0; right:0;
}

.report-card:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    cursor: pointer;
}

.report-card img {
    width: 80px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.report-info {
    flex: 1;
}

.report-title {
    font-size: 17px !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.report-date {
    margin: 0;
    font-size: 16px;
}

.report-date i {
    margin-right: 4px;
    color: #e76f51;
}

.btn-download {
    padding: 8px 18px;
    color: #FFF !important;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #e76f51;
    color: #e76f51 !important;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
    position:relative;
    pointer-events: all;
    z-index: 1;
}

.btn-download:hover {
    background-color: #e76f51 !important;
    color: white !important;
}

.btn-upload {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-upload:hover {
    background-color: #21867a;
}