.hclm-member-area {
    display: flex;
    height: 100%;
    font-size: 16px;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    height: 80vh;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.sidebar li .icon {
    font-size: 18px;
    width: 20px;
    text-align: center;
}

.sidebar li .label {
    flex: 1;
}

.sidebar li:hover {
    background-color: #f0f0f0;
}

.sidebar li.active {
    background-color: #f6f6f6;
    color: #e76f51;
    font-weight: bold;
}

.logout-container{
    text-align: center;
    margin-bottom: 5px;
}

.logout-button {
    padding: 13px 25px;
    color: #FFF !important;
    background-color: #e76f51;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.logout-button span{
    font-weight: 500;
    margin-right: 5px;
}

.logout-button:hover {
    background-color: #D76245;
    color: #FFF !important;
}

/* Main content */
.content {
    flex: 1;
    padding: 24px 50px;
}

.tab-content {
    display: none;
}

.tab-content h3 {
    font-weight: 500;
}

.tab-content.active {
    display: block;
}

.tab-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

/* Profile */
.profile-section {
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-header{
    height: 100%;
}

.profile-picture-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-color: black;
}

.edit-photo-btn {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: #e76f51;
    border: none;
    border-radius: 100%;
    padding: 4px;
    width: 32px;
    height: 32px;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.edit-photo-btn:hover {
    background-color: #d55f45;
}

.profile-form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-size: 16px;
    margin-bottom: 4px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-icon input {
    width: 100%;
    padding-right: 30px;
    border-radius: 10px;
}

.form-group.address-group{
    grid-column: 1 / -1;

}

.input-with-icon input:focus {
    border: 1px solid #e76f51;
}

.edit-icon {
    position: absolute;
    right: 8px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.edit-icon:hover {
    color: #e76f51;
}

.btn-save {
    grid-column: 1 / -1;
    margin-top: 1rem;
    padding: 13px 20px;
    background-color: #e76f51;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
