.hclm-member-area {
    display: flex;
    height: 100%;
    font-size: 16px;
}

/* Sidebar */
.sidebar {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 25px;
}

.sidebar.sidebar-80vh {
    height: 80vh !important;
    min-height: 0 !important;
    max-height: 80vh !important;
}

.sidebar.sidebar-90vh {
    height: 90vh !important;
    min-height: 0 !important;
    max-height: 90vh !important;
}

aside {
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    min-height: 75vh;
    padding: 20px 10px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.sidebar li .icon {
    font-size: 18px;
    width: 20px;
    text-align: center;
}

.sidebar li .label {
    flex: 1;
}

.sidebar li:hover {
    background-color: #f0f0f0;
}

.sidebar li.active {
    background-color: #f6f6f6;
    color: #e76f51;
    font-weight: bold;
}

.logout-container {
    text-align: center;
    margin-bottom: 5px;
}

.logout-button {
    padding: 13px 25px;
    color: #FFF !important;
    background-color: #e76f51;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.logout-button span {
    font-weight: 500;
    margin-right: 5px;
}

.logout-button:hover {
    background-color: #D76245;
    color: #FFF !important;
}

/* Main content */
.content {
    flex: 1;
    padding: 24px 50px;
}

.tab-content {
    display: none;
}

.tab-content h3 {
    font-weight: 500;
}

.tab-content.active {
    display: block;
}

.tab-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

.tab-hover-card {
    transition: box-shadow 0.2s ease;
}

.tab-hover-card:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* PROFILE */
.profile-section {
    display: flex;
    gap: 40px;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
}

.update-message {
    background-color: #e0fce6;
    color: #0e5c25;
    border: 1px solid #a4e5b3;
    padding: 1rem 1.25rem;
    border-radius: 12px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 20px;
    font-size: 0.95rem;
    animation: fadeInSlide 0.4s ease-out;
}

.update-message i {
    color: #1c7c45;
    font-size: 1.2rem;
}

.update-message.fade-out {
    opacity: 0;
    transition: opacity 0.6s ease;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-header {
    height: 100%;
}

.profile-picture-wrapper {
    position: relative;
    width: 140px;
    height: 140px;
}

.profile-picture {
    width: 140px !important;
    height: 140px !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    border: 2px solid #ddd !important;
    background-color: black !important;
    display: block;
}

.profile-picture-input {
    display: none;
}

.edit-picture-btn {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: #e76f51;
    border: none;
    border-radius: 100%;
    padding: 4px;
    width: 32px;
    height: 32px;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.tab-card.membership {
    margin-top: 25px;
}

.edit-picture-btn:hover {
    background-color: #d55f45;
}

.profile-form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label,
.address-group div label {
    font-size: 16px;
    margin-bottom: 4px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-icon input {
    width: 100%;
    padding-right: 30px;
    border-radius: 10px !important;
    transition: initial !important;
    border: 2px solid #e5e4e5 !important;
}

.form-group.address-group {
    grid-column: 1 / -1;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.address-group div {
    flex: 1;
}

@media (max-width: 1230px) {
    .form-group.address-group {
        flex-direction: column !important;
        gap: 10px !important;
        align-items: stretch !important;
    }

    .address-group div {
        width: 100% !important;
    }
}

.input-with-icon input:focus {
    outline: none !important;
    border-color: #e76f51 !important;
}

.edit-icon {
    position: absolute;
    right: 8px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.edit-icon:hover {
    color: #e76f51;
}

.btn-save {
    grid-column: 1 / -1;
    margin-top: 1rem;
    padding: 12px 20px;
    background-color: #e76f51;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


/* MEMBERSHIP */
.pms-table {
    margin: 0 !important;
    border-radius: 10px;
}

.pms-payment-history-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #e1e1e1;
    border-width: 1px 1px 0px 1px ;
    border-radius: 10px;
    overflow: hidden !important;
}

.pms-table {
    border: none !important;
}

.pms-table thead {
    background-color: #f3f5f6 !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.pms-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.pms-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.pms-table th, .pms-table td {
    border-width: 0 0px 1px 0 !important;
}

.pms-table th{
    text-align: left !important;
}

.pms-no-payments {
    margin: 0 !important;
}

.subscription-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscription-details-row {
    display: flex;
    flex-direction: row;
}

.subscription-details-row {
    font-weight: 500;
}

.subscription-details-row:not(.payment-method-row) {
    align-items: center;
}

.payment-method-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subscription-details-row-title {
    width: 190px;
    font-weight: 400;
}

.subscription-details-row-payment-method {
    display: flex;
    flex-direction: column;
}

.status-active {
    background-color: #e0fce6;
    color: #0e5c25;
    border: 1px solid #0e5c25;
    padding: 5px 11px;
    border-radius: 15px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-canceled,
.status-expired {
    background-color: #ffebee;
    color: #B91C1C;
    border: 1px solid #B91C1C;
    padding: 5px 11px;
    border-radius: 15px;
}

.status-pending {
    background-color: #e5eaf1;
    color: #4c749c;
    border: 1px solid #4c749c;
    padding: 5px 11px;
    border-radius: 15px;
}

.next-payment-date {
    font-weight: 600;
}

.hclm-update-payment-method-link{
    color: #e76f51;
    text-decoration: none !important;
    font-weight: 500;
    transition: color 0.2s ease;
    font-size: 14px;
}

.action-button-container {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-top: 10px;
}

.btn-subscription-action {
    padding: 6px 18px;
    color: #FFF !important;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #e76f51;
    color: #e76f51 !important;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 500;
}

.btn-subscription-action i {
    font-size: 14px;
}

.pms-action-popup-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) !important;
    z-index: 99999;
    justify-content: center !important;
    align-items: center !important;
}

.pms-action-popup {
    background: #fff;
    padding: 28px 28px 20px 28px;
    border-radius: 10px;
    width: 600px;
    position: relative;
}

.pms-action-popup input[type="submit"] {
    width: initial !important;
}

.pms-action-popup-close-btn {
    color: #e76f51 !important;
    font-weight: 500 !important;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 13px !important;
    padding-right: 13px !important;
    cursor: pointer;
}

.pms-action-popup-close-btn.pms-error{
    width: fit-content !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.pms-action-popup-close-btn:hover {
    background-color: #f0f0f0 !important;
}

.pms-payment-error {
    background-color: #ffebee !important;
    color: #B91C1C !important;
    padding: 15px 16px !important;
    border-radius: 10px;
    font-weight: 500 !important;
    font-size: 0.95rem !important;
    border: none !important;
    margin-top: 15px;
}

.pms-payment-error p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pms-payment-error i {
    color: #B91C1C;
    font-size: 1.2rem;
    margin-right: 10px;
}

.pms-payment-error p:last-child {
    display: none !important;
}

/* STATUS */
.hclm-status-buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

._df_button {
    all: unset !important;
    padding: 7px 18px !important;
    color: #FFF !important;
    background-color: #e76f51 !important;
    border: 2px solid #e76f51 !important;
    border-radius: 10px !important;
    color: #fff !important;
    font-size: 16px !important;
    transition: background-color 0.3s ease !important;
    cursor: pointer !important;
    font-weight: 500 !important;
}

._df_button:hover {
    background-color: #D76245 !important;
    border-color: #D76245 !important;
}

.btn-download svg {
    width: 20px;
    height: 20px;
    margin-bottom: 1px;
}

.btn-download-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 7px 18px !important;
}


/* DASHBOARD */
.dashboard-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 25px;
}

.dashboard-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-top: 25px;
}

.tab-card h4 {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 600;
}

.tab-card h4 i {
    margin-right: 4px;
    color: #e76f51;
}

.span-2 {
    grid-column: span 2;
}

.card-last-report {
    text-align: center;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.card-last-report h4 {
    margin-bottom: 0 !important;
}

.report-thumbnail {
    height: 165px;
    margin: 10px auto;
}

.report-thumbnail img {
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
}

content p {
    margin-bottom: 0;
}

/* REPORTS */

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 30px;
}

.hclm-reports-search-bar-wrapper {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start !important;
    padding: 0px 16px !important;
    width: 100% !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    flex: 1 1 200px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.hclm-reports-search-bar-wrapper svg {
    height: 20px;
    color: black;
    margin-right: 8px !important;
}

.hclm-reports-search-bar {
    padding: 0 2px !important;
    border: none !important;
    outline: none !important;
    color: black !important;
    background: transparent !important;
    flex: 1 !important;
    font-size: 16px !important;
}

.hclm-reports-search-bar-wrapper:focus-within {
    border: 1px solid #e76f51 !important;
    outline: none !important;
}

.filters select {
    padding: 5px 16px !important;
    border: 1px solid #d0d0d0 !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    font-family: inherit !important;
    background-color: #ffffff !important;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    flex: 1 1 200px;
    height: 45px !important;
}

.filters select:focus {
    border-color: #e76f51 !important;
    outline: none !important;
}

.filters select.sort-date {
    flex: 2 1 300px !important;
}

.reports-list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
    .reports-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .reports-list {
        grid-template-columns: 1fr;
    }
}

.report-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: relative;
}

.report-card .report-link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.report-card:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.report-card img {
    width: 80px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.report-info {
    flex: 1;
}

.report-title {
    font-size: 17px !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.report-date {
    margin: 0;
    font-size: 16px;
}

.report-date i {
    margin-right: 4px;
    color: #e76f51;
}

.btn-download {
    padding: 8px 18px;
    color: #FFF !important;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #e76f51;
    color: #e76f51 !important;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
    position: relative;
    pointer-events: all;
    z-index: 1;
}

.btn-download:hover {
    background-color: #e76f51 !important;
    color: white !important;
}

.btn-upload {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-upload:hover {
    background-color: #21867a;
}