body {
    background-color: #fff !important;
}

.page-title{
    font-size: 35px !important;
    font-weight: 600 !important;
    text-align: center;
    color: #000000 !important;
}

.page-subtitle{
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #000000 !important;
}

.newsletter_display_section{
    margin-top: 55px;
    margin-bottom: 75px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.description-section{
    margin-top: 55px;
    margin-bottom: 55px;
}

.complete-newsletter-section h2, .shortcode-container h2{
    font-size: 22px !important;
    font-weight: 600 !important;
}

.complete-newsletter-section h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.shortcode-container h2{
    margin-bottom: 20px;
}

.pdf-container{
    margin-top: 30px;
    margin-bottom: 70px;
}

.shortcode-container{
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
}