/* BASE */
body {
    background-color: #fff !important;
}

.hclm-search-results {
    width: 100% !important;
    padding-bottom: 50px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

@media (max-width: 547px) {
    .hclm-search-results {
        padding-left: 15px;
        padding-right: 15x;
    }
}

/* SIDEBAR */
.hclm-search-results-aside form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    flex-shrink: 0;
    height: fit-content;
    position: sticky;
    top: 30px;
}

@media (max-width: 1010px) {
    .hclm-search-results-aside {
        display: none;
    }
}

.hclm-search-results-aside-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: fit-content;
}

.hclm-search-results-aside-title{
    font-size: 18px;
    font-weight: 500;
}

.hclm-search-results-aside-search-bar-wrapper {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 3px 16px !important;
    width: 100% !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
}

.hclm-search-results-aside-search-bar-wrapper svg {
    height: 20px;
    color: black;
    margin-right: 8px !important;
}

.hclm-search-results-aside-search-bar {
    padding: 0 2px !important;
    border: none !important;
    outline: none !important;
    color: black !important;
    background: transparent !important;
    flex: 1 !important;
    font-size: 16px !important;
}

.hclm-search-results-aside-search-bar-wrapper:focus-within {
    border: 1px solid #e76f51 !important;
    outline: none !important;
}

/* HEADER & SORTING */
.hclm-search-results-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 10px;
}

@media (max-width: 550px) {
    .hclm-search-results-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

.hclm-search-results-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hclm-search-results-sort select{
    border:none !important;
    outline: none !important;
    padding-left: 5px !important;
    padding-right: 25px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 25px !important;
}

/* SEARCH RESULTS LIST */
.hclm-search-results-content {
    flex: 1;
    min-width: 0;
}

.hclm-search-category-wrapper{
    margin-top: 37px;
}

.hclm-search-category-title{
    font-size: 20px;
    font-weight: 500;
}

.hclm-search-category-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.hclm-search-category-list li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.hclm-search-category-list li:is(:first-child) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hclm-search-category-list li:is(:last-child) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hclm-search-result-row {
    list-style: none;
    transition: background-color 0.3s ease;
}

.hclm-search-result-row a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, color 0.2s ease;
}

.hclm-search-result-row:hover {
    background-color: #f4f4f4;
}

.hclm-result-thumbnail img {
    height: 100px;
    border-radius: 8px;
    flex-shrink: 0;
    width: 80px
}

.hclm-result-thumbnail img:not(.newsletter-thumbnail) {
    height: 80px !important;
}
    
.hclm-result-content {
    flex: 1;
}

.hclm-result-title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.hclm-result-excerpt {
    margin: 5px 0 0;
    color: #666;
    font-size: 14px;
}

.hclm-result-arrow svg{
    margin-right: 5px;
    height: 24px;
    width: 24px;
    color: #888;
    transition: transform 0.3s ease, color 0.2s ease;
}

.hclm-result-arrow{
    margin-left: auto;
}

.hclm-search-result-row:hover .hclm-result-arrow svg{
    transform: translateX(5px);
    color: #e76f51;
}

.hclm-search-result-row:hover .hclm-result-title {
    color: #e76f51;
}

mark {
    background-color: #fff3b0;
    padding: 0 2px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.hclm-search-result-row:hover mark{
    background-color: transparent;
    color: inherit;
}

.hclm-search-no-results {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.hclm-search-no-results svg {
    height: 45px;
    width: 45px;
    margin-bottom: 20px;
    fill: #e76f51;
}

.hclm-search-no-results a {
    text-decoration: underline;
    text-underline-offset: 4px !important;
    text-decoration-thickness: 2px !important;
}

.hclm-search-no-results a:hover {
    cursor: pointer;
}